.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../icons-all/down-arrow.png") !important;
  background-position: size(10) center;
  background-size: size(12);
  padding: 0 8px 0 size(25);
}
div.wpcf7 textarea,
div.wpcf7 input[type="text"].not-name,
div.wpcf7 select {
  padding-right: 8px;
  background-image: none;
}
div.wpcf7 textarea {
  padding: 2px 8px 0 8px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../icons-all/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../icons-all/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../icons-all/form-mail.png");
}
div.wpcf7 button[type="submit"] {
  position: relative;
  border: none;
  @include d-center;
  height: size(30);
  background-color: $orange-main;
  @include base-text;
  color: #000000;
  width: 100%;
  font-weight: 400;
  transition: color, background-color .5s;
  &:after {
	@include arrow-link;
	background-image: url("../icons-all/arrow-left-orange.png");
  }
  &:hover {
	color: #ffffff;
	background-color: $blue-main;
	transition: color, background-color .5s;
	&:after {
	  background-image: url("../icons-all/arrow-left.png");
	  transition: background-image .5s;
	}
  }
}
.repeat-form-wrap {
  padding: size(30) 0 size(80) 0;
  background-image: url("../img/mid-form-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
//Popup
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  width: calc(100% - 10px);
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  box-shadow: 0 0 59px 7px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding: size(16);
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
}
.bordered-form {
  border: 3px solid $blue-main;
  padding: size(75) 0;
}
.close-form {
  position: absolute;
  right: size(27);
  top: size(27);
  cursor: pointer;
  img {
	width: size(33);
  }
}
