.pop-trigger, .menu-trigger {
  position: fixed;
  top: 15%;
  z-index: 99999;
  @include d-center;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: size(92);
  height: size(66);
}
.pop-trigger {
  background-color: $orange-main;
  left: 0;
}
.menu-trigger {
  flex-direction: column;
  background-color: #08008a;
  right: 0;
  img {
	margin-bottom: 1px;
  }
}
.side-title {
  color: #ffffff;
  @include base-text;
  font-weight: 500;
  text-align: center;
}
//Navigation
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  padding: 0 size(10);
	  a {
		@include d-center;
		color: #000000;
		font-size: size(25);
		line-height: size(27);
		text-align: center;
		transition: color .5s;
		&:hover {
		  color: $blue-main;
		  transition: color .5s;
		}
	  }
	}
  }
}
//Footer
.footer-main {
  background-color: #e5e5e7;
  padding: size(55) 0 size(30) 0;
}
.foo-menu {
  padding-top: 1rem;
}
.menu-border-top {
  padding-top: size(18);
}
.hop-hey.three-columns {
  column-count: 2;
  column-gap: 1rem;
}
footer {
  li {
	display: flex;
	position: relative;
	a {
	  position: relative;
	  color: #000000;
	  @include base-text;
	  padding-right: 10px;
	  &:before {
		position: absolute;
		content: '•';
		color: #000000;
		display: inline-block;
		right: 0;
	  }
	}
	a:hover {
	  color: $blue-main;
	  cursor: pointer;
	  transition: color .5s;
	}
  }
  .contact-list li a {
	display: flex;
	align-items: flex-start;
	padding-right: 0;
	&:before {
	  display: none;
	}
	img {
	  width: size(17);
	  margin-left: 3px;
	}
  }
}
.map-footer {
  margin: 1rem 0;
  img {
	width: 100%;
  }
}
.foo-title {
  color: $blue-main;
  font-size: size(30);
  line-height: size(32);
  font-weight: 700;
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.logo-footer {
  margin-top: 2rem;
  flex: 0 0 50%;
  max-width: 50%;
}
//Header
header {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 9999;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.49);
  background-color: #ffffff;
  border-top: 8px solid $blue-main;
  ul.sub-menu {
	position: absolute;
	top: 100%;
	right: 0;
	display: flex;
	flex-direction: column;
	z-index: 99999;
	padding: size(30);
	height: auto !important;
	align-items: stretch;
	border-bottom-right-radius: size(10);
	border-bottom-left-radius: size(10);
	box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.49);
	background-color: #ffffff;
	opacity: 0;
	pointer-events: none;
	li {
	  justify-content: flex-start !important;
	  align-items: flex-start !important;
	  margin-bottom: 10px;
	  a {
		white-space: nowrap;
	  }
	}
  }
  nav ul li {
	&:hover {
	  ul.sub-menu {
		opacity: 1;
		pointer-events: all;
		transition: all .5s;
	  }
	}
  }
  .menu-item-has-children {
	position: relative;
	padding-left: size(20) !important;
	background-image: url("../icons-all/down-arrow-blue.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: size(17);
  }
}
.header-tel {
  border-radius: 0 0 10px 10px;
  background-color: $blue-main;
  padding: size(20);
  margin-top: -8px;
  max-width: size(234);
  img {
	margin-right: 5px;
  }
  margin-bottom: size(17);
}
.tel-header-text {
  @include base-text;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}
.tel-number {
  color: #ffffff;
  font-size: size(25);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(31);
  text-align: center;
}
//Search line
.wrap-search {
  padding: 0 10px;
}
.search-form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $blue-main;
  margin-bottom: 10px;
}
.search-input {
  background-color: transparent;
  color: #000000;
  font-size: size(18);
  width: size(180);
  &::placeholder {
	color: #000000 !important;
	font-size: size(18);
	font-weight: 300;
  }
}
.search-submit {
  width: size(40);
  height: size(40);
  background-image: url("../icons-all/search-icon.png");
  background-position: center;
  background-size: size(17);
  background-repeat: no-repeat;
  background-color: transparent !important;
}
//Sidebar
.side-menu-back {
  position: fixed;
  right: 0;
  top: 20vh;
  width: 100%;
  height: 80vh;
  z-index: 999999999999;
  display: flex;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .5s;
  &.show-menu-side {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.side-menu-block {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
  right: 0;
  flex: 0 0 25%;
  max-width: 25%;
  height: 100%;
  transition: all .5s;
  z-index: 999999;
  transform: translateX(100%);
  overflow-y: auto;
  opacity: 0;
  &.show-float-menu {
	opacity: 1;
	transform: translateX(0);
  }
}
.side-menu-title-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.25);
  background-color: #08008a;
  padding: size(8) size(20);
}
.side-menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.side-menu-item {
  display: flex;
  padding: size(8) size(15) size(8) size(40);
  width: 100%;
  border-bottom: 1px solid #09008b;
  background-color: #ffffff;
  transition: background-color .5s;
  &:hover {
	background-color: $orange-main;
	transition: background-color .5s;
  }
}
.cat-side-link {
  @include base-text;
  color: #000000;
  &:hover {
	color: #000000;
  }
}
.more-menu {
  position: absolute;
  left: size(14);
  width: size(10);
  height: size(18);
  background-image: url("../icons-all/arrow-menu-black.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.sub-side-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 100%;
  top: 0;
  flex: 0 0 35%;
  max-width: 35%;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
}
.parent-side-menu-item {
  position: relative;
  &:hover {
	.sub-side-menu {
	  pointer-events: all;
	  opacity: 1;
	  transition: all .5s;
	}
  }
}
header {
  li.back-to-menu, li.sub-head {
	display: none !important;
  }
}
