[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
  z-index: 33;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slick-prev:before, .slick-next:before{
  color: transparent;
}
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(58);
	height: size(39);
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../icons-all/slider-arrow-right.png");
	right: -3rem;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../icons-all/slider-arrow-left.png");
	left: -3rem;
  }
}
.reviews {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.review-slide {
  position: relative;
  padding: 3rem 1rem size(60) 1rem;
  height: 100%;
}
.review-item {
  position: relative;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e5e5e7;
  padding: 0 3.25rem size(75) 3.25rem;
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.rev-pop-trigger {
  position: absolute;
  bottom: size(24);
  width: size(47);
  height: size(47);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url("../icons-all/plus-blue.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
	color: #000000;
	background-image: url("../icons-all/plus-orange.png");
	transition: color, background-color .5s;
  }
}
.review-img {
  @include d-center;
  width: size(190);
  height: size(190);
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: size(25);
  margin-top: -2.5rem;
  padding: size(37);
}
.review-prev {
  font-size: size(17);
  line-height: size(20);
  color: #000000;
  text-align: center;
  margin-bottom: size(30);
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: 0;
  }
}
#reviews-pop-wrapper {
  position: relative;
  border-radius: 0;
  background-color: #ffffff;
  border: 3px solid $blue-main;
  align-items: flex-start;
  z-index: 2222;
}
#reviewsModal {
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	left: 10px;
	background-color: transparent;
	.fa-times {
	  color: $blue-main;
	  font-size: 2rem;
	}
  }
}
.reviews-arrows {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(43);
	height: size(98);
	background-color: #ffffff;
	top: 50%;
	background-size: size(22);
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../icons-all/sl-rev-arrow-right.png");
	right: 1rem;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../icons-all/sl-rev-arrow-left.png");
	left: 1rem;
  }
}
//Post item
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  background-color: #e5e5e7;
}
.base-product-wrapper {
  padding: 0;
  height: 100%;
  width: 100%;
}
.base-product-item {
  width: 100%;
  box-shadow: 0 0 21px 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: size(18) size(14);
  height: 100%;
}
.product-item-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border: 3px solid $blue-main;
  padding: size(16);
}
.product-item {
  background-color: transparent;
}
.post-image {
  display: flex;
  width: 100%;
  @include back-img;
  margin-bottom: size(24);
  border-radius: 10px;
  &:after {
	display: block;
	content: '';
	padding-bottom: 60%;
  }
}
.product-item-image {
  margin-bottom: size(17);
  border-radius: 0;
  &:after {
	padding-bottom: 100%;
  }
}
.single-product-item-image {
  margin-bottom: size(20);
  border-radius: 0;
  &:after {
	padding-bottom: 65%;
  }
}
.cat-item-image {
  margin-bottom: size(10);
  border-radius: 0;
  box-shadow: 0 0 21px 3px rgba(0, 0, 0, 0.2);
  &:after {
	padding-bottom: 50%;
  }
}
.post-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.post-item-title {
  @include base-text;
  font-weight: 500;
  text-align: center;
  margin-bottom: size(20);
  color: $blue-main;
  transition: color .5s;
  &:hover {
	color: $orange-main;
	transition: color .5s;
  }
  &.orange-text {
	color: $orange-main;
	transition: color .5s;
  }
}
.product-item-title {
  font-size: size(25);
  line-height: size(28);
  margin-bottom: 5px;
  &:hover {
	color: $blue-main;
  }
}
.base-prod-item-title {
  font-size: size(22);
  line-height: size(24);
  color: #000000;
  text-align: center;
  font-weight: 500;
  margin-bottom: size(13);
  &:hover {
	color: #000000;
  }
}
.cat-item-title {
  @include base-text;
  color: #000000;
  text-align: center;
  font-weight: 700;
  margin-bottom: size(13);
}
.cat-item-desc {
  color: #000000;
  font-size: size(18);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  text-align: center;
  margin-bottom: size(10);
}
.post-col {
  margin-bottom: size(35);
}
.post-card-content {
  padding: 0 size(28);
}
//Base slider
.slider-base-wrap {
  padding: size(80) 0;
  overflow-x: hidden;
}
.slider-img-col {
  position: relative;
  @include d-center;
  img {
	position: relative;
	z-index: 10;
	border-radius: 10px;
	box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.25);
  }
}
.slider-blue-part {
  position: absolute;
  background-color: $blue-main;
  left: -15%;
  height: 90%;
  width: 50%;
  z-index: 9;
}
.slider-text-wrap {
  padding: 0 10%;
}
.slider-reverse {
  .slider-blue-part {
	left: unset;
	right: -15%;
  }
  .slider-row {
	flex-direction: row-reverse;
  }
}
//Block with clients
.clients-block {
  padding: size(100) 0;
}
.clients-block {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(39);
	height: size(26);
	top: 50%;
  }
  [dir="rtl"] .slick-prev {
	right: -2rem;
  }
  [dir="rtl"] .slick-next{
	left: -2rem;
  }
}
//Clients
.clients-line {
  position: relative;
  z-index: 120;
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
	align-items: center !important;
  }
}
.clients-slider {
  width: 100%;
  display: flex;
  align-items: center;
}
.client-logo {
  display: flex !important;
  justify-content: center;
  align-items: center;
  img {
	max-height: 160px;
  }
}
//Steps
.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}
.col-after-line {
  position: relative;
  flex: 0 0 20%;
  max-width: 20%;
  &:after {
	content: "";
	display: block;
	position: absolute;
	width: 50%;
	height: 3px;
	top: 2.5rem;
	background-color: $blue-main;
	left: -25%;
	z-index: 9;
  }
  .base-text {
	padding: 0 10%;
  }
}
.step-num-title {
  font-size: size(79);
  line-height: size(60);
  text-align: center;
  font-weight: 400;
  color: $blue-main;
}
.step-num-wrap {
  padding: size(35);
  width: size(134);
  height: size(134);
  margin-bottom: size(24);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid $blue-main;
  background-color: #ffffff;
}
.col-after-line:nth-child(5n) {
  &:after {
	display: none;
  }
}
.col-after-line:last-child {
  &:after {
	display: none !important;
  }
}
