/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1750px) {
  .base-product-wrapper {
	padding: 0 size(35);
  }
  .play-video {
	img {
	  width: size(109);
	}
  }
  .block-text-single {
	li {
	  padding-right: size(65);
	  &:before {
		width: size(55);
		height: size(55);
	  }
	}
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 20px;
  }
  .container {
	max-width: unset;
	width: 90%;
  }
  .post-col-home {
	flex: 0 0 20%;
	max-width: 20%;
  }
}
@media (max-width: 1500px) {
  header {
	.col-header {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
  .header-tel {
	padding: size(10);
	margin-bottom: size(12);
  }
  .tel-header-text,
  .tel-number {
	font-size: size(15);
	line-height: size(21);
  }
  .col-reviews {
	flex: 0 0 93%;
	max-width: 93%;
  }
  .review-item {
	padding: 0 2.25rem size(75) 2.25rem;
  }
  .review-slide {
	padding: 3rem 0.5rem 1rem 0.5rem;
  }
  .reviews-arrows {
	[dir="rtl"] .slick-prev {
	  right: 0.5rem;
	}
	[dir="rtl"] .slick-next {
	  left: 0.5rem;
	}
  }
  @mixin base-title {
	font-size: size(28);
	line-height: size(30);
  }
  .base-title-blue,
  .base-title-black,
  .base-title-orange {
	@include base-title;
  }
  .mid-form-text {
	font-size: size(24);
	line-height: size(25);
	margin-bottom: size(20);
  }
  .block-text {
	h1, h2 {
	  @include base-title;
	}
	h3 {
	  font-size: size(26);
	  line-height: size(26);
	}
	h4 {
	  font-size: size(24);
	  line-height: size(25);
	}
	h5 {
	  font-size: size(22);
	  line-height: size(22);
	}
	h6 {
	  font-size: size(20);
	  line-height: size(22);
	}
	p, li {
	  @include base-text;
	  color: #000000;
	}
  }
  .col-after-line {
	.base-text {
	  padding: 0;
	}

	flex: 0 0 33.3%;
	max-width: 33.3%;

	&:nth-child(5n) {
	  &:after {
		display: block;
	  }
	}

	&:nth-child(3n) {
	  &:after {
		display: none;
	  }
	}
  }
  .file-item {
	width: size(55);
	height: size(56);
	margin: 0 size(10);
  }
  .footer-main {
	div.wpcf7 button[type="submit"] {
	  font-size: size(18);
	}
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .col-reviews {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .slider-blue-part {
	left: -40%;
  }
  .slider-reverse {
	.slider-blue-part {
	  right: -40%;
	}
  }
  .about-page-body {
	.top-page {
	  padding-bottom: size(40);
	  .base-title-blue {
		font-size: size(50);
		line-height: size(50);
	  }
	}
  }
  .hop-hey.three-columns {
	column-count: 1;
	column-gap: unset;
  }
  #MainNav{
	ul{
	  li{
		padding: 0 size(7);
		a {
		  font-size: size(19);
		  line-height: size(20);
		}
	  }
	}
  }
  .tel-header-text {
	display: none;
  }
  .pop-trigger, .menu-trigger {
	width: size(52);
	height: size(36);
	img {
	  max-height: size(20);
	}
	span {
	  font-size: size(13);
	  line-height: size(12);
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .slider-wrap-col {
	order: -1;
	margin-bottom: 2rem;
  }
  .slider-text-wrap {
	padding: 0 5%;
  }
  .arrows-slider {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  width: size(48);
	  height: size(29);
	}
  }
  .top-page {
	&:after {
	  padding-bottom: 35%;
	}
  }
  .about-page-body {
	.top-page {
	  .base-title-blue {
		font-size: size(40);
		line-height: size(45);
	  }
	}
  }
  .benefit-col {
	margin-bottom: 1.25rem;
  }
  .contact-form-col {
	margin-bottom: 2rem;
  }
  .col-after-line {
	flex: 0 0 50%;
	max-width: 50%;
	&:nth-child(3n) {
	  &:after {
		display: block;
	  }
	}
	&:nth-child(2n) {
	  &:after {
		display: none;
	  }
	}
  }
  .post-images-col {
	margin-top: 2rem;
  }
  .product-img-col {
	order: -1;
	margin-bottom: 2rem;
  }
  .hop-hey.three-columns {
	column-count: 2;
	column-gap: 1rem;
  }
  .search-input {
	width: size(140);
  }
  .about-img-col {
	margin-bottom: 2rem;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .slider-text-wrap {
	padding: 0;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .col-header {
	padding-right: size(80);
  }
  #MainNav ul li {
	justify-content: flex-start;
	a {
	  justify-content: flex-start;
	  align-items: flex-start;
	  text-align: right;
	  color: #000000;
	}
  }
  header {
	li.back-to-menu, li.sub-head {
	  opacity: 0 !important;
	}
	ul.sub-menu {
	  //position: unset;
	  //top: unset;
	  //right: unset;
	  //opacity: 1 !important;
	  //pointer-events: all !important;
	  box-shadow: unset !important;
	  padding: 0 size(20) size(10) size(10) !important;
	  li a {
		white-space: normal;
	  }
	}
	nav ul li {
	  &:hover {
		ul.sub-menu {
		  opacity: 0;
		  pointer-events: none;
		  transition: all .5s;
		}
	  }
	}
	ul.sub-menu {
	  &.show-submenu {
		background-color: $blue-main;
		opacity: 1 !important;
		pointer-events: all !important;
		transition: all .5s;
	  }
	}
  }
  header .menu-item-has-children {
	background-position: 0.5rem 0.5rem;
  }
  .side-menu-block {
	flex: 0 0 35%;
	max-width: 35%;
  }
}
@media (max-width: 650px) {
  .slider-text-wrap {
	margin-bottom: 2rem;
  }
  .arrows-slider {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: calc(100% + 2rem);
	}
	[dir="rtl"] .slick-prev {
	  right: 0;
	}
	[dir="rtl"] .slick-next {
	  left: calc(100% - 6rem);
	}
  }
  .top-page {
	&:after {
	  padding-bottom: 45%;
	}
  }
  .header-tel {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	z-index: 33333;
	margin: 0;
	padding: size(10);
	border: 2px solid #ffffff;
	img {
	  margin: 0;
	}
	animation: jump 1.2s ease-in-out alternate infinite;
	.tel-number {
	  display: none;
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .about-page-body {
	.top-page {
	  .base-title-blue {
		font-size: size(32);
		line-height: size(35);
	  }
	}
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 350px;
	  }
	}
	.close {
	  right: 0;
	}
  }
  .col-after-line {
	display: flex;
	justify-content: center;
	margin-bottom: 6rem;
	flex: 0 0 100%;
	max-width: 100%;
	&:nth-child(2n) {
	  &:after {
		display: block;
	  }
	}
	&:after {
	  display: block;
	  position: absolute;
	  width: 3px;
	  height: 4rem;
	  top: 100%;
	  left: unset;
	}
  }
  .search-input {
	width: size(100);
  }
  .wrap-search {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .side-menu-block {
	flex: 0 0 45%;
	max-width: 45%;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .top-page {
	&:after {
	  padding-bottom: 90%;
	}
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 290px;
	  }
	}
  }
  .logo-about {
	left: 1rem;
  }
}
