@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "forms";
@import "partials";
@import "header-footer";

body{
  font-family: $heebo;
  text-align: right;
  color: #000000;
}
.base-title-blue {
  @include base-title;
  color: $blue-main;
  text-align: center;
}
.base-title-black {
  @include base-title;
  color: #000000;
  text-align: center;
}
.base-title-orange {
  @include base-title;
  color: $orange-main;
  text-align: center;
}
.base-text {
  @include base-text;
  color: #000000;
}
.mid-form-text, .contact-info-title {
  font-size: size(30);
  line-height: size(34);
  color: #000000;
  text-align: center;
  font-weight: 500;
  margin-bottom: size(30);
}
.block-text {
  h1, h2 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $orange-main;
  }
  h3 {
	font-size: size(32);
	line-height: size(34);
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(25);
	line-height: size(26);
  }
  h6 {
	font-size: size(21);
	line-height: size(22);
  }
  p, li {
	@include base-text;
	color: #000000;
  }
  ul {
	margin: size(30) 0;
  }
  li {
	position: relative;
	display: flex;
	align-items: center;
	padding-right: size(45);
	margin-bottom: size(35);
	&:before {
	  content: '';
	  right: 0;
	  position: absolute;
	  background-size: contain;
	  width: size(35);
	  height: size(35);
	  background-image: url("../icons-all/list-icon.png");
	  background-position: center;
	  background-repeat: no-repeat;
	}
  }
}
.block-text-single {
  h1, h2, h3, h4, h5, h6 {
	color: $blue-main;
  }
  p {
	margin-bottom: size(45);
  }
}
.product-page-content {
  h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
  }
  p, li {
	color: #000007;
	font-size: size(22);
	line-height: size(24);
  }
}
.base-link {
  position: relative;
  @include d-center;
  min-height: size(29);
  background-color: #e5e5e7;
  @include base-text;
  color: $blue-main;
  font-weight: 400;
  padding: 3px size(11) 3px size(40);
  transition: color, background-color .5s;
  &:after {
	@include arrow-link;
	background-image: url("../icons-all/arrow-left.png");
  }
  &:hover {
	color: #ffffff;
	background-color: $orange-main;
	transition: color, background-color .5s;
	&:after {
	  background-image: url("../icons-all/arrow-left-orange.png");
	  transition: background-image .5s;
	}
  }
}
.base-link-blue {
  background-color: $blue-main;
  color: #ffffff;
}
.block-part {
  padding: size(55) 0;
}
.top-page {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:after {
	content: '';
	display: block;
	padding-bottom: 19%;
  }
}
.top-overlay {
  position: absolute;
  padding: size(70) 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(-93deg, #ffffff 0%, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 0.24) 76%, rgba(255, 255, 255, 0) 100%);
}
.body-output {
  padding-top: size(15);
  padding-bottom: size(45);
}
.breadcol {
  margin-bottom: size(45);
  span, a {
	color: #000000;
	@include base-text;
	font-weight: 300;
	transition: color .5s;
  }
  a:hover {
	color: $blue-main;
	transition: color .5s;
  }
}
//About
.about-page-body {
  .top-page {
	.base-title-blue {
	  font-size: size(65);
	  font-weight: 700;
	  font-style: normal;
	  letter-spacing: normal;
	  line-height: size(60);
	}
  }
}
.about-text-ouput {
  p, ul {
	margin-bottom: size(33);
  }
}
//Benefits block
.benefits-block {
  background-color: #e5e5e7;
  padding: size(45) 0 size(35) 0;
}
.benefit-item, .contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-item {
  margin-bottom: 2rem;
}
.benefit-item {
  padding: 0 7%;
}
.benefit-icon-wrap, .contact-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: size(127);
  height: size(100);
  background-image: url("../icons-all/circle.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: size(20) size(30);
  img {
	max-height: 100%;
  }
}
.benefit-text {
  text-align: center;
  color: #010000;
}
.video-item {
  @include d-center;
  border-radius: 10px;
  background-size: cover;
  background-color: $blue-main;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3rem;
  cursor: pointer;
  &:after {
	display: block;
	content: '';
	padding-bottom: 56%;
  }
}
.play-video {
  width: 100%;
  height: 100%;
  @include d-center;
  img {
	width: size(59);
  }
}
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
//Contact page
.contact-info-title {
  margin-bottom: size(5);
}
//Post page
.post-images-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  img {
	width: 100%;
	margin-bottom: size(39);
  }
}
//Product page
.files-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: size(20);
  flex-wrap: wrap;
}
.files-title {
  font-size: size(25);
  line-height: size(28);
  color: $blue-main;
  margin-bottom: size(15);
  font-weight: 500;
}
.file-item {
  width: size(84);
  height: size(86);
  margin: 0 size(25);
  background-image: url("../icons-all/file-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &:last-child {
	margin-left: 0 !important;
  }
}
.gallery-title {
  font-weight: 500;
  text-align: center;
  margin-bottom: size(60);
}
//Product accordion
.accordion-button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
  .btn {
	padding: 0;
	border: none !important;
  }
}
.product-info-acc {
  .block-text p {
	margin-bottom: size(10);
  }
  .card {
	border: none !important;
	border-radius: 0 !important;
	padding: 0.5rem 0;
  }
  .accordion-button-wrap {
	margin-bottom: size(20);
	padding-bottom: size(15);
  }
}
.accordion-symbol img {
  min-width: size(25);
  width: size(25);
}
.product-info-title {
  color: #08008a;
  font-size: size(25);
  line-height: size(28);
  font-weight: 500;
}
.card .slider-output {
  padding-top: 1rem;
}
.minus-icon {
  display: none !important;
}
.show-icon {
  display: block !important;
}
.hide-icon {
  display: none !important;
}
//Gallery on page product's
.gallery-image-prod {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:after {
	content: '';
	display: block;
	padding-bottom: 45%;
  }
}
.gallery-image-col {
  padding: 0 6px;
}
//Main slider on homepage
.home-main-block {
  position: relative;
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	bottom: 1rem;
	display: flex;
	width: 90%;
	right: 5%;
  }
  ul.slick-dots {
	li {
	  margin: 0 0.25px;
	  button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: size(14);
		height: size(14);
		border-radius: 50%;
		background-color: $blue-main;
		opacity: 1 !important;
		&:before {
		  top: unset;
		  left: unset;
		  color:#ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: $orange-main;
  }
}
.slide-home {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}
.main-slide-item {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-93deg, #ffffff 0%, rgba(255, 255, 255, 0.14) 62%, rgba(255, 255, 255, 0) 72%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: size(100) 0;
  .link-row {
	justify-content: flex-start !important;
	margin-top: 10px !important;
	margin-bottom: 0 !important;
  }
}
.block-text-home {
  h1, h2 {
	font-size: size(40);
	line-height: size(42);
  }
  h1, h2, h3, h4, h5, h6 {
	color: $blue-main;
	font-weight: 700;
  }
  h3 {
	@include base-title;
  }
  h4 {
	font-size: size(32);
	line-height: size(34);
  }
  h5 {
	font-size: size(28);
	line-height: size(30);
  }
  h6 {
	font-size: size(25);
	line-height: size(26);
  }
  p, li {
	font-size: size(25);
	line-height: size(31);
	color: #000000;
  }
  li {
	list-style: disc;
  }
}
//About block on homepage
.about-home {
  padding: size(57) 0;
  .link-row {
	justify-content: flex-start !important;
	margin-top: size(150) !important;
	margin-bottom: 0 !important;
  }
}
.about-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
}
.absolute-year {
  position: absolute;
  left: 0;
  border-radius: 10px;
  background-color: #ffffff;
  padding: size(30);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  flex: 0 0 45%;
  max-width: 45%;
}
.about-img {
  width: 100%;
  border-radius: 10px;
}
.about-content-col {
  position: relative;
}
.logo-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: size(150);
  position: absolute;
  left: 0;
  bottom: 0;
  img {
	max-height: 100%;
  }
}

@import "responsive";
